.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 380px;
  padding: 30px 24px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3); /* 30% opacity */
  box-sizing: border-box;
}

.login-card .ant-card-body {
  padding: 20px !important;
}

.login-card .ant-form-item {
  margin-bottom: 14px;
}

.login-card .ant-form-item-label {
  padding-bottom: 4px;
}


/* Title */
.brand-title {
  text-align: center;
  margin-bottom: 0;
}

.brand-ai {
  color: #1677ff;
}

.brand-interview {
  color: #faad14;
}

.subtitle {
  display: block;
  text-align: center;
  margin-bottom: 24px;
  font-size: 12px;
  color: #8c8c8c;
}

/* Button override */
.btn-next {
  border-radius: 999px;
  height: 44px;
}
